USE [master]
GO
/****** Object:  Database [BankDatabase]    Script Date: 7/30/2018 8:33:40 PM ******/
CREATE DATABASE [BankDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BankDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BankDatabase.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'BankDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BankDatabase_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BankDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BankDatabase]
GO
/****** Object:  StoredProcedure [dbo].[AddingAccountDetails]    Script Date: 7/30/2018 8:33:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddingAccountDetails] (
			@AccountNumber int,
            @Balance int,
			@BranchName char(10),
			@AccountType char(10)
			) 
			AS
            insert into dbo.AccountDetails(AccountNumber,Balance,BranchName,AccountType)values(@AccountNumber,@Balance,@BranchName,@AccountType);

GO
/****** Object:  Table [dbo].[AccountDetails]    Script Date: 7/30/2018 8:33:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AccountDetails](
	[AccountNumber] [int] NOT NULL,
	[Balance] [int] NOT NULL,
	[BranchName] [char](10) NOT NULL,
	[AccountType] [char](10) NOT NULL,
 CONSTRAINT [PK_AccountDetails] PRIMARY KEY CLUSTERED 
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserDetails]    Script Date: 7/30/2018 8:33:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDetails](
	[AccountNumber] [int] NOT NULL,
	[CustomerName] [nchar](20) NOT NULL,
 CONSTRAINT [PK_UserDetails] PRIMARY KEY CLUSTERED 
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
